# Demo 01

In [5]:
import sqlite3
connection = sqlite3.connect("my.db")
cursor = connection.cursor()

In [6]:
cursor.execute("DROP TABLE IF EXISTS employees")

## Create a new table

In [7]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS employees (
        id INTEGER PRIMARY KEY,
        name TEXT,
        department TEXT,
        salary INTEGER
    )
""")

In [8]:
sample_data = [
    (1, "John Doe", "Sales", 50000),
    (2, "Jane Smith", "Engineering", 75000),
    (3, "Mike Johnson", "Sales", 60000),
    (4, "Emily Brown", "Engineering", 80000),
    (5, "David Lee", "Marketing", 55000)
]
cursor.executemany("INSERT INTO employees VALUES (?, ?, ?, ?)", sample_data)
connection.commit()

In [9]:
cursor.execute("Select * from Employees").fetchall()

[(1, 'John Doe', 'Sales', 50000),
 (2, 'Jane Smith', 'Engineering', 75000),
 (3, 'Mike Johnson', 'Sales', 60000),
 (4, 'Emily Brown', 'Engineering', 80000),
 (5, 'David Lee', 'Marketing', 55000)]